.fom-container-gs{
    margin: 1.5rem 0;
    
}
.form-input{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#email-gs{
   
    padding: 1rem;
    font-size: 1em;
}
#submit-btn-gs{
    
    background-color: #e50914;
    border: none;
    color: #fff;
    font-size: 1.3em;
}