#navbar {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0));
}
#netflix-logo {
    width: 100%;
}
.right-nav-el {
}
.dropdown-bar {
    background-color: black;
    color: #fff;
    border: #fff 0.1px solid;
    padding: 0.4rem;
    font-size: 0.9em;
    border-radius: 3px;
    margin-right: 1.5rem;
}
.sign-in-btn {
    border-radius: 3px;
    background-color: #e50914;
    color: #fff;

    border: none;
}
